<div class="untree_co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<h2 class="h3 mb-3 text-black">Billing Details</h2>
				<div class="p-3 p-lg-5 border bg-white">
					<div class="form-group">
						<label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
						<select id="c_country" class="form-control">
							<option value="1" selected disabled>viloyatni tanlang</option>
							<option value="2">Toshkent</option>
							<option value="3">Samarqand</option>
							<option value="4">Qashqadaryo</option>
							<option value="5">Sirdaryo</option>
							<option value="6">Namangan</option>
							<option value="7">Buxoro</option>
							<option value="8">Navoiy</option>
							<option value="9">Qoraqapog'iston</option>
							<option value="10">Farg'ona</option>
							<option value="11">Andijon</option>
							<option value="12">Jizzax</option>
							<option value="13">Xorazm</option>
							<option value="14">Surxondaryo</option>

						</select>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<label for="c_fname" class="text-black">First Name <span
									class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_fname" name="c_fname">
						</div>
						<div class="col-md-6">
							<label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_lname" name="c_lname">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
							<label for="c_address" class="text-black">Tumanni kiriting<span
									class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_address" name="c_address"
								placeholder="Tumanni kiriting">
						</div>
					</div>

					<div class="form-group mt-3">
						<input type="text" class="form-control" placeholder="Ko'changizni kiriting">
					</div>


					<div class="form-group row mb-5">
						<div class="col-md-6">
							<label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_phone" name="c_phone"
								placeholder="Phone Number">
						</div>
					</div>




					<div class="form-group">
						<label for="c_order_notes" class="text-black">Order Notes</label>
						<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
							placeholder="Write your notes here..."></textarea>
					</div>

				</div>
			</div>
			<div class="col-md-6">

				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black">Your Order</h2>
						<div class="p-3 p-lg-5 border bg-white">
							<table class="table site-block-order-table mb-5">
								<thead>
									<th>Product</th>
									<th>Total</th>
								</thead>
								<tbody>
									<tr>
										<td>Top Up T-Shirt <strong class="mx-2">x</strong> 1</td>
										<td>$250.00</td>
									</tr>
									<tr>
										<td>Polo Shirt <strong class="mx-2">x</strong> 1</td>
										<td>$100.00</td>
									</tr>
									<tr>
										<td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
										<td class="text-black">$350.00</td>
									</tr>
									<tr>
										<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
										<td class="text-black font-weight-bold"><strong>$350.00</strong></td>
									</tr>
								</tbody>
							</table>

							<div class="border p-3 mb-3">
								<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank"
										role="button" aria-expanded="false" aria-controls="collapsebank">Kartadan to'lov qilish</a></h3>

								<div class="collapse" id="collapsebank">
									<div class="py-2">
										<p class="mb-0">Make your payment directly into our bank account. Please use
											your Order ID as the payment reference. Your order won’t be shipped until
											the funds have cleared in our account.</p>
									</div>
								</div>
							</div>

							<div class="border p-3 mb-5">
								<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal"
										role="button" aria-expanded="false" aria-controls="collapsepaypal">Naqd to'lash</a>
								</h3>

								<div class="collapse" id="collapsepaypal">
									<div class="py-2">
										<p class="mb-0">Make your payment directly into our bank account. Please use
											your Order ID as the payment reference. Your order won’t be shipped until
											the funds have cleared in our account.</p>
									</div>
								</div>
							</div>

							<div class="form-group">
								<button class="btn btn-black btn-lg py-3 btn-block"
									onclick="window.location='/thankyou'">Place Order</button>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- </form> -->
	</div>
</div>